.git
.gitignore
.gitmodules
.husky
.npm-cache
.npmrc

/temp
/node_modules
/bin
/src
/test

tsconfig.json
tsconfig.buid.json
tsconfig.tsbuildinfo
jest.config.json
.prettierrc
.eslint.config.mjs
releaserc.json

!dist
!package.json
!pnpm-lock.yaml
